body{
    background-color: #f2f3f4f7;
}

.div-full div{
    line-height: 20px;
    background-color: white;
    width: 25%;
    border-radius:20px;
    /* height: 330px;  */
    box-shadow: 5px 10px #888888; 
    cursor: pointer;
    display: grid;
    align-items: end;
    justify-items: center;
    padding-bottom: 10px;
}


.div-full div:hover{
    transition: 0.5s;
    box-shadow: 10px 20px 20px #888888; 
}


.div-full{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 120px;
}



.div-full div .button{
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    cursor: pointer;
    font-family: cursive;
    font-weight: bolder;
    text-decoration: none;
}

.div1 img{
    width: 100%;
    border-radius: 20px;
}

.div2 img{
    width: 100%;
    border-radius: 20px;
}

.div3 img{
    width: 100%;
    border-radius: 20px;
}

.gallery_btn{
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    cursor: pointer;
    font-family: cursive;
    font-weight: bolder;
    text-decoration: none;
}