* {
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

header {
    width: 100%;
    height: auto;
    padding: 1% 3%;
    background-color: white;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

nav {
    display: flex;
    align-items: center;
}

header nav .links .button {
    background-color: dodgerblue;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: medium;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;

}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.page {
    display: flex;
    width: 100%;
    /* height: 90vh; */
}

.resume {
    background-color: #f4f5f7;
    width: 70%;
    padding: 3% 5%;
    overflow-y: scroll;
}

.container {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 10px;
}

.tools {
    background-color: white;
    width: 30%;
    overflow-y: scroll;
}

.tool_controls {
    display: grid;
    place-items: center;
    align-items: flex-start;
    row-gap: 20px;
    height: 100vh;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #fff;
    scrollbar-color: dodgerblue;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 50px;
}

.tools .theme {
    background-color: #f4f5f7;
    display: flex;
    /* width: 60%; */
    padding: 10px 20px;
    justify-content: space-between;
}

.elements {
    width: 60%;
    background-color: #f4f5f7;
    display: grid;
    align-items: center;
    row-gap: 10px;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    cursor: pointer;
}

.img_tag {
    display: grid;
    place-items: center;
}

.img_tag img {
    width: 190px;
    height: 160px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.colors {
    display: flex;
    border: 0px;
    column-gap: 5px;
    width: 100%;
}

#textArea {
    display: none;
}

.colors div {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#red1,
#blue1,
#gold1,
#orange1,
#purple1 {
    border-radius: 50%;
    position: relative;
    left: 23px;
}

#red1 {
    background-color: red;
}

#blue1 {
    background-color: blue;
}

#gold1 {
    background-color: goldenrod;
}

#orange1 {
    background-color: rgb(255, 166, 0);
}

#purple1 {
    background-color: rgb(190, 0, 190);
}

input,
textarea {
    border: none;
    border-radius: 7px;
    padding: 5px;
}

/* .input{
    padding: 5px;
    line-height: 25px;
    display: grid;
    row-gap: 30px;
    overflow-y: scroll;

}

#input_1{
    display: none;
}

.container div{
    position: absolute;
    
}

#input11{
    display: none;
} */

.control img {
    width: 50px;
    height: 55px;
    background-color: #f4f5f7;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}

textarea {
    resize: none;
}

#elementCreate {
    display: none;
}

.input_1 {
    display: none;
}

#elementCreate {
    border: none;
    border-radius: 5px;
    width: 55px;
    padding: 5px;
    background-color: dodgerblue;
    color: #f4f5f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 900;
}

#elementCreate:hover {
    background-color: rgb(12, 117, 223);
    cursor: pointer;
    transition: 0.4s;
}

.ele-image {
    width: 100%;
}